<% layout('layouts/boilerplate') %>
<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center" role="alert" >
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <h4>
          Error:<%= message %>
        </div>
    </h4>
</div>